@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/Comfortaa.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik.ttf);
  font-weight: 500;
  font-style: normal;
}
html{
	width: 100vw;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100vw;
}
.container {
  background-color: transparent;
  display: flex;
  position: relative;
  padding: 0;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.visible-block{
	display:flex;
}
.hidden-block{
	display: none ;
}
.hidden{
	display: none;
}
.visible{
	display: flex;
}