
@font-face {
	font-family: 'Comfortaa';
	src: url(../fonts/Comfortaa.ttf);
}
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto.ttf);
}
@font-face {
	font-family: 'Rubick';
	src: url(../fonts/Rubik.ttf);
}
body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-width: 1200px;
}
.container{
	background-color: #ccc;
	display: flex;
	padding: 0;
	align-items: center;
	flex-direction: column;
	height: 2500px;
}