.nav-section__logo{
	position: relative;
	margin: 0 25px 5px 0;
	width: 200px;
	height: 56px;
	background: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
}
.nav-section__lang{
	border: 0;
	background-color: #32466A;
	position: relative;
	color: #fff;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-family: 'Comfortaa';
	font-size: 21px;
	text-transform: uppercase;
	margin: 0 0 0 25px;
	line-height: .5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-weight: 500;
	-webkit-box-shadow: 0 0 5px #888;
	        box-shadow: 0 0 5px #888;
}