#logo{
	position: absolute;
	width: 200px;
	height: 56px;
	left: 43px;
	top: 24px;

	background: url(../img/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	//backdrop-filter: blur(25px);
}
@media screen and (max-width: 1540px) {
	#logo{
		left:23px;
	}
}
@media screen and (max-width: 1490px) {
	#logo{
		left:13px;
	}
}
@media screen and (max-width: 1460px) {
	#logo{
		left:23px;
		top: 34px;
		width: 150px;
		height: 56px;
	}
}
@media screen and (max-width: 1400px) {
	#logo{
		left:23px;
		width: 140px;
		height: 56px;
	}
}
@media screen and (max-width: 1370px) {
	#logo{
		left:13px;
		width: 130px;
		height: 56px;
		top: 35px;
	}
}