
/* Title page */
#title-page{
	padding-top: 30px;
	position: relative;
	background-image: url(../img/РостовскаяАЭС.svg);
	background-repeat: no-repeat;
	background-position: 50% 80%;
	background-size:cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 840px;
	color: #fff;
}
.title-page__title{
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	text-shadow: 0px 0px 20px #000000;
	backdrop-filter: blur(10px);
}
.title-page__description{
	text-align: left;
	width: 85%;
	font-size: 34px;
	font-family: 'Roboto';
	font-weight: 500;
	text-shadow: 0px 0px 20px #000000;
	line-height: 50px;
	backdrop-filter: blur(2px);
}
.hr-white-bold{
	width: 240px;
	height: 8px;
	background-color: #fff;
	border-radius: 50px;
	margin: 10px 0 35px 0;
}
.title-page__options{
	width: 85%;
	margin: 35px 0 20px 0;
}
.option-item{
	margin: 25px 0 0 15px;
	display: flex;
	align-items: center;
	border-left: 4px solid #fff;
	border-radius: 1px;
	backdrop-filter: blur(2px);
}
.option-item__text{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	text-shadow: 0px 0px 25px #000000;
}