.nav-section{
	position: sticky;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(25px);
	margin: auto;
	padding: 20px 0 20px 0;
}
.custom-navbar{
	display: flex;
	position: relative;
	justify-content: center;
	background-color: #32466A;
	height: 50px;
	border-radius: 50px;
	border: 0;
	overflow: hidden;
}
.navbar-block{
	display: flex;
	position: relative;
	height: 100%;
	max-width: 100%;
	width: 200px;
	justify-content: center;
	align-items: center;
	transition: .2s;
}
.navbar-block input[type='radio']:checked + label:after {
	content: "";
	position: absolute;
	transition: .2s;
	height: 100px;
	top: 50;
	right: 0;
	width: 30px;
	background-color: #E0EEFF;
	transform: rotate(20deg) translateX(10px);
}
.navbar-block input[type='radio']:checked + label:before {
	content: "";
	position: absolute;
	transition: .2s;
	height: 100px;
	top: 50;
	left: 0;
	width: 30px;
	background-color: #E0EEFF;
	transform: rotate(20deg) translateX(-10px);
}

.navbar-block input[type='radio']{
	display: none;
}
.navbar-block input[type='radio']:checked + label{
	color: #000;
	background-color: #E0EEFF;
	
}
.navbar-block input[type='radio']:disabled + label{
	color: #fff;
	background-color: transparent;
}
.navbar-block label{
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	user-select: none;
}
.navbar-block__label{
	background-color: transparent;
	border:none;
	padding: 0 20px 0 20px;
	color: #fff;
	font-family: 'Comfortaa';
	font-size: 24px;
	
}

/* @media screen and (max-width: 1540px) {
	.navbar-block__label{
		font-size: 20px;

	}
	.custom_navbar{
		height: 45px;
		top:34px;
	}
} */

/* Test */
.nav-section{
	backdrop-filter: blur(25px);
}