.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #fff;
	z-index: 1001;
  }
  
  .preloader__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 150px;
	height: 150px;
	z-index: 1002;
	animation: spin 4s linear infinite;
  }
  .preloader__image-svg{
	width: 100%;
	height: 100%;
	fill: #32466A;
  }
  
  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }
  
  .loaded .preloader {
	display: none;
  }