
/* Title page */
#title-page{
	padding-top: 30px;
	position: relative;
	background-image: url(../img/РостовскаяАЭС.png);
	background-repeat: no-repeat;
	background-position: 50% 80%;
	background-size:cover;
	width: 100%;
	display: flex;
	align-items: center;
	height:100vh;
	color: #fff;
	max-height: 980px;
}
.title-page__top-block{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-page__title{
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 47px;
	text-align: center;
	text-shadow: 0px 0px 20px rgba(0,0,0, .4);
	color: rgb(174, 210, 247);
}
.title-page__description{
	text-align: left;
	width: 85%;
	font-size: 34px;
	font-family: 'Roboto';
	font-weight: 500;
	text-shadow: 0px 0px 20px #000000;
	line-height: 50px;
}
.hr-white-bold{
	width: 240px;
	height: 8px;
	background-color: #fff;
	border-radius: 50px;
	margin: 10px 0 35px 0;
}
.title-page__options{
	width: 90%;
	margin: 35px 0 20px 0;
	display: flex;
	flex-direction: column;
}
.option-item{
	position: relative;
	display: flex;
	z-index:0;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	border: 1px solid #aaa;
	border-radius: 50px;
	width: fit-content;
	padding: 5px 15px;
	margin: 5px;
	background-color: rgba(60,60,60, .3);
	backdrop-filter:blur(3px);
}
.option-item__icon-container, .option-item__icon{
	position: relative;
	z-index: 100;
	width: 50px;
	height: 50px;
}
 .option-item__icon-container{

	margin: 0 15px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	fill: #32466A;
}
.overlay{
	position: absolute;
	height: 0;
	width: 0;
	top: 50;
	left: 50;
	border-radius: 50%;
	background-color: rgba(224, 238, 255,1);
	box-shadow: -10px 0 15px 38px rgba(224, 238, 255,1);
}
.row{
	justify-content: center;
}
.option-item__text{
	position: relative;
	display: flex;
	width: fit-content;
	z-index: 1000;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	text-shadow: 0px 0px 25px #000000;
}