.nav-section {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 5px 0 5px 0;
}
.nav-section__navbar {
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #32466a;
  height: 40px;
  border-radius: 50px;
  border: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 5px #32466a;
  box-shadow: 0px 2px 5px #32466a;
  transition: .2s;
}
.navbar-block {
  display: flex;
  position: relative;
  z-index: 100;
  height: 100%;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  transition: .2s;
}
.navbar-block__label {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  font-family: "Comfortaa";
  font-size: 24px;
  transition: .2s;
}
/* .navbar-block__label:hover{
	color: #ddd;
}
.active:hover{
	color: #000;
}
.active{
	position: relative;
	z-index: 1000;
	color: #000;
	background-color: #E0EEFF;
}
.active:before {
	content: "";
	z-index: 10;
	position: absolute;
	height: 100px;
	top: 50;
	left: 0;
	width: 15px;
	background-color: #E0EEFF;
	transform: rotate(13deg) translateX(-6px);
}
.active:after {
	content: "";
	position: absolute;
	height: 100px;
	top: 50;
	right: 0;
	width: 15px;
	background-color: #E0EEFF;
	transform: rotate(13deg) translateX(6px);
}
.active a{
	color: #000;
}
.active a:hover{
	color: #000;
} */


.navbar-block:after {
  content: "";
  position: absolute;
  z-index: 10;
  height: 6px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #e0eeff;
  transition: .3s;
  border-radius: 8px 8px 0 0;
  transform: translateY(100%);
}
.navbar-block a:hover {
  color: #fff;
}
.nav-section__navbar:hover a:not(:hover){
	color: rgb(230,230,230);
}
.nav-section__navbar::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #e0eeff;
	transform: translateY(100%);
	transition: .2s;
}
.nav-section__navbar:hover::before{
	transform: translateY(0);
}
.navbar-block:hover::after {
	transform: translateY(0);
}
.nav-section__burger-menu {
  position: absolute;
  z-index: 1000;
  right: 40px;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: none;
}
.burger-menu__line {
  background-color: #32466a;
  position: absolute;
  width: 50px;
  height: 8px;
  border-radius: 20px;
  transition: 0.2s;
}
.burger-menu__line:nth-child(1) {
  left: 0;
  top: 0;
}
.burger-menu__line:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.burger-menu__line:nth-child(3) {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.burger-menu__line:nth-child(4) {
  left: 0;
  bottom: 0;
}
.menu__opened .burger-menu__line {
  background-color: #ffffff;
}
.menu__opened .burger-menu__line:nth-child(1) {
  opacity: 0;
}
.menu__opened .burger-menu__line:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  transform: rotate(-45deg);
}
.menu__opened .burger-menu__line:nth-child(3) {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  transform: rotate(45deg);
}
.menu__opened .burger-menu__line:nth-child(4) {
  opacity: 0;
}
.menu-overlay {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  cursor: pointer;
  transition: .2s;
}
.menu-overlay__opened {
  height: 100vh;
}
.navbar__opened {
  padding: 60px 0 15px 0;
  transform: translateY(0);
}
.nav-section__logo-wrapper{
	width: fit-content;

}
.nav-section__lang-wrapper,.nav-section__lang-wrapper:hover{
	text-decoration: none;
	position: relative;
	color: #fff;
}
.white-logo{
	filter:  brightness(0%) invert(100%);
}
